@import 'media_queries';

* {
  font-family: 'Poppins', sans-serif;  
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;

  @include tablet {
    width: 720px;
  }

  @include mobile {
    width: 320px;
  }

  @include mobile_s {
    width: 280px;
  }
}

.header {
  width: 100%;
  height: 121px;
  background-color: #0b4bec;
  background: linear-gradient(173deg, #0b4bec 30%, #0938b4);
  display: flex;
  align-items: center;
    
  @include tablet {
    height: 150px;
  }

  @include mobile {
    height: 100px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include tablet {
      align-items: flex-start;
      flex-direction: column;
      height: 70%;
    }

    @include mobile {
      align-items: center;
      flex-direction: unset;
      height: unset;
    }
  }

  &__logo {
    float: left;
    
    @include mobile {
      width: 150px;
    }
  }

  &__burger {
    font-size: 24px;
    color: #fff;
    display: none;

    @include mobile {
      z-index: 3;
      display: block;
    }
  }
}

.menu {
  color: #fff;
  float: right;
  margin-top: 0;
  display: flex;
  align-items: center;
    
  @include tablet {
    width: 100%;
    justify-content: space-between;
  }

  @include mobile {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: -100%;
    width: 100%;
    right: 0;
    box-sizing: border-box;
    padding: 25px;
    background: linear-gradient(165deg, #0b4bec 10%, #071d68 80%);
    transition: top 0.3s;

    &_active {
      top: 0;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 44px;
    text-decoration: none;
    
    @include tablet {
       margin: 0;
    }

    @include mobile {
      margin: 12px 0;
    }

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #ccc;
    }

    &_account {
      background-color: #fff;
      color: #0b4bec;
      padding: 5px 13px;
      border-radius: 50px;
      text-transform: none;

      &:visited {
        color: #0b4bec;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

.row {
  padding: 160px 0;

  @include mobile {
    padding: 120px 0;
    text-align: center;
  }

  &_credit-card-block {
    color: #fff;
    background: url(../img/cards-banner.png) no-repeat center bottom 40px, url(../img/bg-shapes.svg) no-repeat 7% 32%, url(../img/bg-rects.svg) no-repeat 100% 40%, linear-gradient(165deg, #0b4bec 10%, #071d68 80%);
    height: 720px;
    text-align: center;

    @include tablet {
      background: url(../img/cards-banner.png) no-repeat center bottom, url(../img/bg-shapes.svg) no-repeat 5% 45%, url(../img/bg-rects.svg) no-repeat 100% 45%, linear-gradient(165deg, #0b4bec 10%, #071d68 80%);
      background-size: 80%, 20%, 20%, 100%;
      height: 450px;
    }

    @include mobile {
      background: url(../img/cards-banner.png) no-repeat center bottom, url(../img/bg-shapes.svg) no-repeat 5% 60%, url(../img/bg-rects.svg) no-repeat 100% 60%, linear-gradient(165deg, #0b4bec 10%, #071d68 80%);
      background-size: 80%, 30%, 40%, 100%;
      height: 380px;
    }
  }

  &_get-card-block {
    background-color: #f3f2f2;
    height: 630px;
    text-align: center;

    @include tablet {
      height: unset;
    }
  }

  &_numbers {
    background-image: linear-gradient(160deg, rgba(11, 75, 236, 0.9) 25%, rgba(7, 29, 104, 0.9) 70%), url(../img/numbers-bg.jpg);
    background-size: cover;
  }

  &__body {
    text-align: center;  
  }
  
  &__title {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;

    @include tablet {
      font-size: 1.8em;
    }

    @include mobile {
      font-size: 1.5em;
    }

    &_contact {
      text-transform: none;
      font-weight: 600;
    }

    &_take-a-card {
      font-size: 40px;
      font-weight: 600;
      text-transform: none;
      margin: 12px 0;

      @include tablet {
        font-size: 1.8em;
      }

      @include mobile {
        font-size: 1.5em;
      }
    }
  }
  
  &__subtitle {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #808080;

    @include tablet {
      font-size: 1.8em;
    }

    @include mobile {
      font-size: 1.5em;
    }
  }
  
  &__text {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding: 0 110px;
    line-height: 28px;
    margin-bottom: 59px;

    @include mobile {
      padding: 0;
    }
  }
  
  &__button {
    padding: 12px 48px;
    border: none;
    border-radius: 100px;
    background-color: #fff;
    color: #0b4bec;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}

.process-card {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    justify-content: center;
  }

  @include mobile {
    margin: 18px 0 0 0;
  }
  
  &__title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
  }
  
  &__text {
    font-size: 13px;
    line-height: 28px;
    color: #808080;
  }

  &__item {
    background-color: #fff;
    width: 300px;
    border: #dbdada 1px solid;
    padding: 48px 35px;
    margin: 42px 0;
    transition: margin 0.1s, padding 0.1s;

    @include mobile {
      margin: 16px 0;
      padding: 34px 35px;
    }
  
    &:hover {
      margin: 0;
      padding: 50px 35px;
      color: #fff;
      background: linear-gradient(165deg, #0b4bec 10%, #071d68 80%);
    }
  }
  
  &__item:hover>&__text {
    color: #fff;
  }
}

.carousel {
  height: 350px;
  width: 100%;
  margin-top: 50px;
  display: flex;

  &__item {
    height: 100%;
  }
  
  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 25px 0;
    box-sizing: border-box;
    border: #ccc solid 1px;
  }
  
  &__arrow {
    position: absolute;
    top: 45%;
    font-size: 32px;
    color: #808080;

    @include tablet {
      position: relative;
      top: 0;
    }
    
    @include mobile {
      position: absolute;
      font-size: 22px;
      top: 50%;
    }
  
    &_prev {
      left: -70px;

      @include tablet {
        left: -10px;
      }

      @include mobile {
        left: -6%;
      }
    }
    
    &_next {
      right: -70px;

      @include tablet {
        right: -10px;
      }

      @include mobile {
        right: -6%;
      }
    }
  }
}

.numbers {
  height: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    height: unset;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
    color: #fff;

    @include tablet {
      width: 120px;
      height: 210px;
    }
  }
  
  &__icon {
    font-size: 52px;
    margin-bottom: 28px;

    @include tablet {
      font-size: 42px;
      margin-bottom: 8px;
    }
  }
  
  &__number {
    font-size: 52px;
    font-weight: 600;

    @include tablet {
      font-size: 32px;
    }
  }
  
  &__title {
    font-size: 24px;
    font-weight: 400;

    @include tablet {
      font-size: 16px;
    }
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__row {
    width: 47%;
    margin-top: 20px;

    @include tablet {
      width: 100%;
    }
  }
  
  &__field {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    resize: none;
    padding: 18px;
    margin: 15px 0;
    border: #ccc 1px solid;
  
    &_message {
      box-sizing: border-box;
      height: 140px;
    }
  
    &_submit {
      box-sizing: border-box;
      background-color: #0b4bec;
      color: #fff;
      border: none;
      margin-top: 8px;
      cursor: pointer;

      &:hover {
        background-color: #0938b4;
      }
    }
  }
}

.footer {
  box-sizing: border-box;
  padding: 42px 0;
  background-image: linear-gradient(160deg, rgba(11, 75, 236, 0.9) 25%, rgba(7, 29, 104, 0.9) 70%), url(../img/footer-bg.jpg);
  background-size: cover;
  height: 129px;
  color: #fff;
  text-align: center;

  &__text {
    font-size: 14px;

    @include mobile {
      font-size: 12px;
    }
  }
}